<!--[COMPONENT_VIEW]-->
<div class="row">
	<div class="col-md-2">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">empresa</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.empresa}}</label>
		  </div>
	   </div>
	</div>	
	<div class="col-md-2">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">sucursal</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.sucursal}}</label>
		  </div>
	   </div>
	</div>		
	<div class="col-md-2">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">row version</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.rowVersion}}</label>
		  </div>
	   </div>
	</div>	
	<div class="col-md-2">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">eliminado</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.eliminado}}</label>
		  </div>
	   </div>
	</div>		
	<div class="col-md-2">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">restaurado</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.restaurado}}</label>
		  </div>
	   </div>
	</div>			
</div>
<div class="row">
	<div class="col-md-2">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">fecha ingreso</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.fechaing}}</label>
		  </div>
	   </div>
	</div>
	<div class="col-md-2">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">fecha modificacion</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.fechamod}}</label>
		  </div>
	   </div>
	</div>
	<div class="col-md-3">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">usuario ingreso</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.usuarioing}}</label>
		  </div>
	   </div>
	</div>
	<div class="col-md-3">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">usuario modificacion</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.usuariomod}}</label>
		  </div>
	   </div>
	</div>
</div>	
<div class="row">	
	<div class="col-md-3">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">maquina ingreso</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.maquinaing}}</label>
		  </div>
	   </div>
	</div>
	<div class="col-md-3">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">maquina modificacion</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.maquinamod}}</label>
		  </div>
	   </div>
	</div>
	<div class="col-md-3">    
		<div class="panel panel-default">	  
		  <div class="panel-heading">terminal</div>
		  <div class="panel-body">
		      <label>{{$ctrl.bean.terminal}}</label>
		  </div>
	   </div>
	</div>			
</div>