<!--[SERVICE_VIEW]-->
 <div class='modal-header'>
	<h3 class='modal-title'>Confirmacion</h3>
 </div> 
<div class='modal-body'>
    <div class='row'>
       <div class='col-md-4'>Esta seguro de continuar?</div>
    </div>
	<div class='row'>Usuario
       <div class='col-md-4'> 
           <label ng-model='dato.usuario'></label>
       </div>
    </div>
</div>
<div class='modal-footer'>
    <button class='btn btn-primary' type='button' ng-click='aceptar()'>OK</button>
    <button class='btn btn-secondary' type='button' ng-click='cancelar()'>cancelar</button>
</div>