<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/applicationContext.xml	        
                 classpath:/META-INF/datasource-direct-config.xml                      
				</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/appServlet-context.xml</param-value>
    </init-param>
    <init-param>
      <param-name>throwExceptionIfNoHandlerFound</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/spring/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SPAMainWindowServlet</display-name>
    <servlet-name>SPAMainWindowServlet</servlet-name>
    <servlet-class>com.viewengine.servlets.SPAMainWindowServlet</servlet-class>
    <init-param>
      <param-name>domain</param-name>
      <param-value>ERPX</param-value>
    </init-param>
    <init-param>
      <param-name>channel</param-name>
      <param-value>WEB_DESKTOP</param-value>
    </init-param>        
    <init-param>
      <param-name>resetCache</param-name>
      <param-value>true</param-value>
    </init-param>    
  </servlet>
  <servlet-mapping>
    <servlet-name>SPAMainWindowServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SourceDelivererServlet</description>
    <display-name>SourceDelivererServlet</display-name>
    <servlet-name>SourceDelivererServlet</servlet-name>
    <servlet-class>com.viewengine.servlets.SourceDelivererServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SourceDelivererServlet</servlet-name>
    <url-pattern>/sourceDelivery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ReportGeneratorServlet</description>
    <display-name>ReportGeneratorServlet</display-name>
    <servlet-name>ReportGeneratorServlet</servlet-name>
    <servlet-class>com.viewengine.reporting.servlet.ReportGeneratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportGeneratorServlet</servlet-name>
    <url-pattern>/reportGenerator</url-pattern>
  </servlet-mapping>
  <display-name>ERPX</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
